//main: style.less
@width : 300px;
.gallery_container {
  /// position: absolute;
 // display: flex;
//  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  //margin: 50px auto;
}

.gallery-item_img {
  width: @width;
  height: 200px;
}

 
.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
}
.gallery_item{
  margin-top: 80px;
}
.gallery-item_title {
    
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    color: rgb(53, 53, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.gallery-item_text {
    margin-top: 30px;
  text-align: left;
  margin-right: 10px;
}
