//main: style.less
body{
    position: relative;
}
.bg{
    position: relative;
    overflow: hidden;
 }
.bg-img{
    background-image: url(../../img/hero-bg.jpg);
    width: 100%;
    height: 800px;
    background-size: cover; 
    
}
.title-cont{
   display: flex;
   justify-content: center;
   
}
.title-home{
   
   width: 600px;
   height: 260px;
   position: absolute;
   top: 270px;
   line-height: 50px;
}
.title-home .title{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.title-home .sub-title{
    text-align: center;
    letter-spacing: 2px;
}
.title-home button{
    text-decoration: none;
    background: #22c4ab;
    color: #fff;
    width: 260px ;
    height: 65px;
    text-transform: uppercase;
    font-size: 400;
    letter-spacing: 1px;
    border-bottom: 3px solid #128171;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    
}