//main: style.less
#sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #57626e;
    border-left: 5px solid #cacfd3;
    right: -250px;
    transition: all .5s;
    z-index: 1000;
}
#sidebar.active{
    right: 0;
    
}
#sidebar ul li:first-child{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 25px 10px 10px 10px;
}
#sidebar ul li:not(:first-child){
    width: 90%;
    color: #fff;
    font-size: 1.9em;
    list-style: none;
    margin-left: 10%;
    padding: 25px 10px 10px 10px;
} 
#sidebar ul li a{
    text-decoration: none;
    color: #dfe5eb;
    transition: .2s linear;
}
#sidebar ul li a:hover{
    color: #076861;
    margin-left: 5px;
    
    
}
#sidebar .toggle-btn{
    position: absolute;
    right: 270px;
    top:0;
  //  top: 20px;
    background: #ccc;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s linear;
}
#sidebar .toggle-btn:hover{
    background: #556270;
}

#sidebar .toggle-btn:hover span{
    background: #fafafa;
}
#sidebar span{
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px 0;
    background-color: #666;
}
