#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #57626e;
  border-left: 5px solid #cacfd3;
  right: -250px;
  transition: all 0.5s;
  z-index: 1000;
}
#sidebar.active {
  right: 0;
}
#sidebar ul li:first-child {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  padding: 25px 10px 10px 10px;
}
#sidebar ul li:not(:first-child) {
  width: 90%;
  color: #fff;
  font-size: 1.9em;
  list-style: none;
  margin-left: 10%;
  padding: 25px 10px 10px 10px;
}
#sidebar ul li a {
  text-decoration: none;
  color: #dfe5eb;
  transition: 0.2s linear;
}
#sidebar ul li a:hover {
  color: #076861;
  margin-left: 5px;
}
#sidebar .toggle-btn {
  position: absolute;
  right: 270px;
  top: 0;
  background: #ccc;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s linear;
}
#sidebar .toggle-btn:hover {
  background: #556270;
}
#sidebar .toggle-btn:hover span {
  background: #fafafa;
}
#sidebar span {
  display: block;
  width: 25px;
  height: 4px;
  margin: 4px 0;
  background-color: #666;
}
.gallery_container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.gallery-item_img {
  width: 300px;
  height: 200px;
}
.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
}
.gallery_item {
  margin-top: 80px;
}
.gallery-item_title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  color: #353535;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gallery-item_text {
  margin-top: 30px;
  text-align: left;
  margin-right: 10px;
}
body {
  position: relative;
}
.bg {
  position: relative;
  overflow: hidden;
}
.bg-img {
  background-image: url(../../img/hero-bg.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;
}
.title-cont {
  display: flex;
  justify-content: center;
}
.title-home {
  width: 600px;
  height: 260px;
  position: absolute;
  top: 270px;
  line-height: 50px;
}
.title-home .title {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.title-home .sub-title {
  text-align: center;
  letter-spacing: 2px;
}
.title-home button {
  text-decoration: none;
  background: #22c4ab;
  color: #fff;
  width: 260px ;
  height: 65px;
  text-transform: uppercase;
  font-size: 400;
  letter-spacing: 1px;
  border-bottom: 3px solid #128171;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}
.sub-title-box {
  max-width: 100%;
  height: 400px;
  background: #f4f5f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-text {
  width: 750px;
  height: 190px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.text-template {
  position: relative;
}
.text {
  position: absolute;
  font-size: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
