//main: style.less
.sub-title-box{
    max-width: 100%;
    height: 400px;
    background: #f4f5f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-text{
    width: 750px;
    height: 190px;
   
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.text-template{
    position: relative;
}
.text {
    position: absolute;
    
    font-size: 18px;
 
}